{% load static %}
<!DOCTYPE html>
<html lang="utf-8">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Little Hero</title>
</head>
<body>
  <h2> Welcome to Little Hero! </h2><br>
  <div>
      <span class="go">
          <ol>
              <li><a href="/api/doc">api docs</a></li>
              <li><a href="/api/posts/all">show posts</a></li>
              <li><a href="/api/posts/detail">show post detail</a></li>
              <li><a href="/api/cities/list">show city list</a></li>
              <li><a href="/api/cities/detail">show Gu in city</a></li>
          </ol>
      </span>
  </div>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</body>
</html>